<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Create new set</title>

        <link href="/static/styles/general.css" th:href="@{/styles/general.css}" rel="stylesheet"/>
        <link href="/static/styles/header.css" th:href="@{/styles/header.css}" rel="stylesheet"/>
        <link href="/static/styles/createSet.css" th:href="@{/styles/createSet.css}" rel="stylesheet"/>
        <script type="text/javascript"
                src="/static/scripts/header.js"
                th:src="@{/scripts/header.js}"></script>
        <script type="text/javascript"
                src="/static/scripts/general.js"
                th:src="@{/scripts/general.js}"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    </head>
    <body onload="setupHeaderSearch()">
        <header class="header">
            <nav class="left-section">
                <img class="icon"
                     th:src="@{/imgs/QuizletLogo.png}"
                     src="/static/imgs/QuizletLogo.png"
                     alt="ICON"/>
                <div class="header-button-container">
                    <button id="home-button"
                            onclick="redirect('/home')">
                        Home
                    </button>
                </div>
                <div class="header-button-container"
                     id="create-container">
                    <button id="create-button"
                            onclick="createRedirect()">
                        Create
                    </button>
                    <div class="create-hint">
                        <div class="label">
                            Number of cards you want to add
                        </div>
                        <input id="number-input"
                               type="number"
                               min="0"
                               step="1"
                               value="3"
                               placeholder="Number of cards"/>
                    </div>
                </div>
                <div class="header-button-container">
                    <button id="search-button"
                            onclick="redirect('/sets')">
                        Search
                    </button>
                </div>
            </nav>
            <div class="right-section">
                <input class="search-bar"
                       type="text"
                       id="search-bar"
                       placeholder="Search"/>

                <div class="login-button-container" sec:authorize="isAnonymous()">
                    <button class="login-button"
                            onclick="redirect('/login')">
                        Login
                    </button>
                </div>
                <div class="username-text"
                     sec:authorize="isAuthenticated()"
                     th:text="${#authentication.getName()}">
                    #auth.getUsername()
                </div>
                <div class="logout-button-container">
                    <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                        <input class="logout-button" type="submit" value="Logout">
                    </form>
                </div>
            </div>
        </header>

        <main class="page-content">
            <form class="form"
                  action="#"
                  th:action="@{/sets/create}"
                  th:object="${set}"
                  method="post">
                <section class="info-section">
                    <div class="row">
                        <div class="label">
                            Set name:
                        </div>
                        <input type="text"
                               class="input-field"
                               th:field="*{title}"
                               placeholder="Name"/>
                    </div>
                    <div class="row">
                        <div class="label">
                            Set description (optional):
                        </div>
                        <textarea class="input-area"
                                  id="description-area"
                                  th:field="*{description}"
                                  placeholder="Description"></textarea>
                    </div>
                    <div class="row">
                        <div class="label">
                            Allow others to see this set?
                        </div>
                        <input class="checkbox"
                               type="checkbox"
                               th:field="*{isPublic}"/>
                    </div>
                </section>
                <section class="card-section">
                    <div class="label">
                        Cards:
                    </div>
                    <div class="card-row" th:each="i : ${#numbers.sequence(0, nCards - 1)}">
                            <textarea class="input-area"
                                      placeholder="Term"
                                      th:field="*{cards[__${i}__].term}"></textarea>

                            <textarea class="input-area"
                                      placeholder="Definition"
                                      th:field="*{cards[__${i}__].definition}"></textarea>
                    </div>
                    <div class="submit-section">
                        <input class="submit-button"
                               type="submit"
                               value="Create set">
                    </div>
                </section>
            </form>
        </main>
    </body>
</html>