<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View set</title>
</head>
<body>
    <div class="container" th:object="${set}">
        <div class="set-title" th:text="*{title}"></div>
        <div class="set-description" th:text="*{description}"></div>
        <input type="checkbox" disabled th:checked="*{isPublic}"/>

        <div class="card-container" th:each="card: ${set.cards}">
            <div class="card-row">
                <div class="card-term" th:text="${card.term}"></div>
                <div class="card-definition" th:text="${card.definition}"></div>
            </div>
        </div>
    </div>
</body>
</html>