.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(10, 9, 45);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    font-family: 'Roboto', Arial, sans-serif;
    column-gap: 70px;
    border-bottom: 1px solid rgb(40, 46, 62);
    z-index: 1000;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
    color: #FFFFFF;
}

.left-section {

    min-width: 300px;
}

.left-section .icon {
    width: 100px;
}

.right-section {
    flex: 1;
    justify-content: flex-end;
}


.header-button-container button {
    border: none;
    background-color: transparent;
    font-family: 'Roboto', Arial, sans-serif;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
}

.header-button-container:hover button {
    cursor: pointer;
    border-bottom: 5px solid cornflowerblue;
    margin-top: 5px;
    border-radius: 3px;
}

.login-button,
.logout-button {
    border: none;
    color: #FFFFFF;
    padding: 7px 15px;
    border-radius: 10px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    transition: background-color 0.2s;
}

.login-button {
    background-color: rgb(66, 85, 255);
}

.login-button:hover {
    background-color: #877eff;
    cursor: pointer;
}

.logout-button {
    background-color: lightcoral;
}

.logout-button:hover {
    background-color: #ffac9d;
    cursor: pointer;
}

.search-bar {
    background-color: rgb(46, 56, 86);
    border: none;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    flex: 2;
    min-width: 100px;
    max-width: 450px;
}

.search-bar::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
}

.search-bar:focus {
    outline: none;
}

.username-text {
    flex: 1;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}


#create-container {
    position: relative;
}

#create-container:hover .create-hint {
    bottom: -88px;
    opacity: 1;
}

.create-hint {
    position: absolute;
    bottom: -93px;
    background-color: rgb(40, 46, 62);
    padding: 10px 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.4s;
}

#number-input {
    background-color: rgb(46, 56, 86);
    border: none;
    color: #FFFFFF;
    margin-top: 2px;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: 'Roboto', Arial, sans-serif;
}

#number-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto', Arial, sans-serif;

}
